.footer {
  width: 100%;
  min-height: 10vh;
  padding: 1.5em;

  background-color: #0C0C0C;
  color: #6D6D6D;

  font-size: 1.25rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* sections */
.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  align-items: center;
}

/* alignment */
.footer-left {
  justify-content: flex-start;
}

.footer-left a{
  text-decoration: underline;
  color: #6D6D6D;
  transition: all .4s;
}

.footer-left a:hover{
  color: #eaeaea;
}

.footer-center {
  justify-content: center;
}

.footer-right {
  justify-content: flex-end;
}

/* logo */
.footer img {
  width: 4rem;
}

/* responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: center;
  }
}