<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tisztelt Felhasználó!</h1>
    <p>Jelszófrissítést igényeltél.</p>
    <p>Kattints az alábbi gombra:</p>
    <a th:href="${resetLink}"
       style="padding:12px 20px;
                      background:#0FFFF0;
                      color:#000;
                      text-decoration:none;
                      font-size:18px;">
        Jelszó frissítése
    </a>
</body>
</html>